/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.container-flex{
    padding: .5em 0;
    background-color: orange;
    display:flex;
    justify-content: space-between;
    border: 1px dashed black;

    
}
span{
    padding: 0 1em;
}
ul{
    width: 60%;
    padding: 0 5em;
    list-style-type: none;
    border-style: dashed;
    border-width: 0px 1px;
}
.flex{
    display:flex;
    justify-content: space-evenly;
}
li{
    flex-grow: 10px;
}
/* Nav */
nav{
    padding: 1em;
    background-color: aquamarine;
}
.container{
    width: 80%;
    background-color: lightcoral;
    margin: auto;
    
}

/* BANNER */
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: navy;
}
.banner-text{
    border: 1px dashed black;
    width: 60%;
    height: 250px;
    background-color: palevioletred;
}

/* MAIN */

.row-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
}
.blu-square{
    border: 1px dashed black;
    width: 50%;
    height: 250px;
    background-color: cornflowerblue;
}
.pink-square{
    border: 1px dashed black;
    width: 30%;
    height: 250px;
    background-color: pink;
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: lightgrey;
}

.last-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-color: lightgray;
}

.green-square{
    width: 80%;
    min-height: 400px;
    background-color: green;
}

/* Footer */
.black-container{
    border-bottom: 1px white;
    padding: 1em 0;
    /* debug */
    background-color: black;
}
.footer-social{
    width: 40%;
    /* debug */
    min-height: 300px;
    background-color: plum;
}
.footer-menu{
    border: dashed 1px rgb(255, 255, 255);
    width:calc(60% / 4);
    /* debug */
    min-height: 300px;
    background-color: aquamarine;
}
.flex2{
    display: flex;
}
.footer{
    margin-top: 1em;
    justify-content: space-between;
}