/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.container-flex{
    background-color: orange;
    width: calc(100% / 3);
    display:flex;
    justify-content: center;

}

ul{
    list-style-type: none;
    border: 1px dashed black;
}
.flex{
    display:flex;
    justify-content: center;

}
/* Nav */
nav{
    background-color: aquamarine;
    height: 100px;
}
.container{
    width: 80%;
    height: 100px;
    background-color: lightcoral;
    align-self: center;
    margin: auto;
    
}

/* BANNER */
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: navy;
}
.banner-text{
    border: 1px dashed black;
    width: 60%;
    height: 250px;
    background-color: palevioletred;
}

/* MAIN */

.row-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
}
.blu-square{
    border: 1px dashed black;
    width: 50%;
    height: 250px;
    background-color: cornflowerblue;
}
.pink-square{
    border: 1px dashed black;
    width: 30%;
    height: 250px;
    background-color: pink;
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: lightgrey;
}